In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('distancias_tiempos2.csv')
df

       Distance Duration
0         0.000     0:00
1        15.260     0:22
2        14.930     0:17
3        23.420     0:33
4         9.490     0:12
...         ...      ...
11231    38.365    00:44
11232     9.674    00:24
11233    12.298    00:27
11234     5.247    00:17
11235     0.000    00:00

[11236 rows x 2 columns]

In [66]:
df['Duration'] = pd.to_datetime(df['Duration'])

In [67]:
df['Duration'] = df['Duration'].dt.strftime('%H:%M')

In [68]:
df['Duration']=df['Duration'].astype('string')

In [69]:
df['Duration'].value_counts()

00:16    459
00:14    453
00:20    439
00:22    425
00:18    415
        ...
01:37      2
01:32      2
01:36      1
01:42      1
01:35      1
Name: Duration, Length: 98, dtype: Int64

In [71]:

def convert_to_seconds(time_str):
    hours, minutes = map(int, time_str.split(':'))
    total_seconds = hours * 3600 + minutes * 60
    return total_seconds

# Apply the conversion function to the DataFrame column
df['Segundos'] = df['Duration'].apply(convert_to_seconds)

print(df)

       Distance Duration  Segundos
0         0.000    00:00         0
1        15.260    00:22      1320
2        14.930    00:17      1020
3        23.420    00:33      1980
4         9.490    00:12       720
...         ...      ...       ...
11231    38.365    00:44      2640
11232     9.674    00:24      1440
11233    12.298    00:27      1620
11234     5.247    00:17      1020
11235     0.000    00:00         0

[11236 rows x 3 columns]

In [ ]:
df.to_numpy()

array([['Depot', 'Depot', 0.0, '00:00:00', 0],
       ['Depot', 'Customer 1', 15.264, '00:22:00', 1320],
       ['Depot', 'Customer 2', 14.929, '00:17:00', 1020],
       ...,
       ['Customer 48', 'Customer 103', 3.988, '00:11:00', 660],
       ['Customer 48', 'Customer 104', 8.956, '00:20:00', 1200],
       ['Customer 48', 'Customer 105', 15.076, '00:25:00', 1500]],
      dtype=object)

In [73]:
rangos = np.arange(0,11236,106)
rangos

array([    0,   106,   212,   318,   424,   530,   636,   742,   848,
         954,  1060,  1166,  1272,  1378,  1484,  1590,  1696,  1802,
        1908,  2014,  2120,  2226,  2332,  2438,  2544,  2650,  2756,
        2862,  2968,  3074,  3180,  3286,  3392,  3498,  3604,  3710,
        3816,  3922,  4028,  4134,  4240,  4346,  4452,  4558,  4664,
        4770,  4876,  4982,  5088,  5194,  5300,  5406,  5512,  5618,
        5724,  5830,  5936,  6042,  6148,  6254,  6360,  6466,  6572,
        6678,  6784,  6890,  6996,  7102,  7208,  7314,  7420,  7526,
        7632,  7738,  7844,  7950,  8056,  8162,  8268,  8374,  8480,
        8586,  8692,  8798,  8904,  9010,  9116,  9222,  9328,  9434,
        9540,  9646,  9752,  9858,  9964, 10070, 10176, 10282, 10388,
       10494, 10600, 10706, 10812, 10918, 11024, 11130])

In [74]:
cuadrada = []
for i in range(len(rangos)-1):
    cuadrada.append(list((df['Segundos'][rangos[i]:rangos[i+1]])))
result_array = np.append(np.array(cuadrada), [(df['Segundos'][rangos[-1]:])], axis = 0)
result_array.shape

(106, 106)

In [75]:
result_array

array([[   0, 1320, 1020, ..., 1320, 1680, 2520],
       [1320,    0, 1380, ...,  360, 1320, 1620],
       [1200, 1440,    0, ..., 1440, 1680, 2520],
       ...,
       [1260,  360, 1320, ...,    0, 1320, 1860],
       [1800, 1320, 1680, ..., 1440,    0,  660],
       [2220, 1560, 2700, ..., 1620, 1020,    0]], dtype=int64)