In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "https://raw.githubusercontent.com/gerardoramc/AlgoritmoDatos/Gerardo/distancias_tiempos2.csv"
df = pd.read_csv(path)
df

       Distance Duration
0         0.000     0:00
1        15.260     0:22
2        14.930     0:17
3        23.420     0:33
4         9.490     0:12
...         ...      ...
11231    38.365    00:44
11232     9.674    00:24
11233    12.298    00:27
11234     5.247    00:17
11235     0.000    00:00

[11236 rows x 2 columns]

In [3]:
df['Duration'] = pd.to_datetime(df['Duration'])

In [4]:
df['Duration'] = df['Duration'].dt.strftime('%H:%M')

In [5]:
df['Duration']=df['Duration'].astype('string')

In [6]:
df['Duration'].value_counts()

00:16    459
00:14    453
00:20    439
00:22    425
00:18    415
        ...
01:37      2
01:32      2
01:36      1
01:42      1
01:35      1
Name: Duration, Length: 98, dtype: Int64

In [7]:

def convert_to_seconds(time_str):
    hours, minutes = map(int, time_str.split(':'))
    total_seconds = hours * 3600 + minutes * 60
    return total_seconds

# Apply the conversion function to the DataFrame column
df['Segundos'] = df['Duration'].apply(convert_to_seconds)

print(df)

       Distance Duration  Segundos
0         0.000    00:00         0
1        15.260    00:22      1320
2        14.930    00:17      1020
3        23.420    00:33      1980
4         9.490    00:12       720
...         ...      ...       ...
11231    38.365    00:44      2640
11232     9.674    00:24      1440
11233    12.298    00:27      1620
11234     5.247    00:17      1020
11235     0.000    00:00         0

[11236 rows x 3 columns]

In [8]:
df.to_numpy()

array([[0.0, '00:00', 0],
       [15.26, '00:22', 1320],
       [14.93, '00:17', 1020],
       ...,
       [12.298, '00:27', 1620],
       [5.247, '00:17', 1020],
       [0.0, '00:00', 0]], dtype=object)

In [9]:
rangos = np.arange(0,11236,106)
rangos

array([    0,   106,   212,   318,   424,   530,   636,   742,   848,
         954,  1060,  1166,  1272,  1378,  1484,  1590,  1696,  1802,
        1908,  2014,  2120,  2226,  2332,  2438,  2544,  2650,  2756,
        2862,  2968,  3074,  3180,  3286,  3392,  3498,  3604,  3710,
        3816,  3922,  4028,  4134,  4240,  4346,  4452,  4558,  4664,
        4770,  4876,  4982,  5088,  5194,  5300,  5406,  5512,  5618,
        5724,  5830,  5936,  6042,  6148,  6254,  6360,  6466,  6572,
        6678,  6784,  6890,  6996,  7102,  7208,  7314,  7420,  7526,
        7632,  7738,  7844,  7950,  8056,  8162,  8268,  8374,  8480,
        8586,  8692,  8798,  8904,  9010,  9116,  9222,  9328,  9434,
        9540,  9646,  9752,  9858,  9964, 10070, 10176, 10282, 10388,
       10494, 10600, 10706, 10812, 10918, 11024, 11130])

In [10]:
cuadrada = []
for i in range(len(rangos)-1):
    cuadrada.append(list((df['Segundos'][rangos[i]:rangos[i+1]])))
result_array = np.append(np.array(cuadrada), [(df['Segundos'][rangos[-1]:])], axis = 0)
result_array.shape

(106, 106)

In [11]:
result_array

array([[   0, 1320, 1020, ..., 1320, 1680, 2520],
       [1320,    0, 1380, ...,  360, 1320, 1620],
       [1200, 1440,    0, ..., 1440, 1680, 2520],
       ...,
       [1260,  360, 1320, ...,    0, 1320, 1860],
       [1800, 1320, 1680, ..., 1440,    0,  660],
       [2220, 1560, 2700, ..., 1620, 1020,    0]], dtype=int64)

In [12]:
result_array.shape

(106, 106)

In [13]:
def remove_first_row_and_column(input_array):
    if input_array.shape[0] <= 1 or input_array.shape[1] <= 1:
        raise ValueError("Input array must have at least 2 rows and 2 columns.")

    new_array = input_array[1:, 1:]
    return new_array

In [17]:
from scipy.spatial.distance import cdist

def k_medoids(X, k, max_iters=100):
    num_samples, num_features = X.shape
    medoids_indices = np.random.choice(num_samples, k, replace=False)
    medoids = X[medoids_indices]

    for _ in range(max_iters):
        distances = cdist(X, medoids, metric='euclidean')
        cluster_assignments = np.argmin(distances, axis=1)

        for i in range(k):
            cluster_points = X[cluster_assignments == i]
            cluster_distances = distances[cluster_assignments == i][:, i]
            new_medoid_index = np.argmin(cluster_distances)
            medoids[i] = cluster_points[new_medoid_index]

    return medoids, cluster_assignments

# Ejemplo de uso

result_array_no_warehouse = remove_first_row_and_column(result_array)
X = result_array_no_warehouse

k = 3
medoids, cluster_assignments = k_medoids(X, k)

#print("Medoides finales:")
#print(medoids)

clusters = {}
for i in range(k):
    cluster_points = np.where(cluster_assignments == i)[0]
    clusters[i] = cluster_points

print("Nodos en cada cluster:")
for cluster_id, node_indices in clusters.items():
    print(f"\n***Cluster {cluster_id+1}*** \nCantidad: {len(node_indices)}\nNodos: {node_indices+1}\n")

Nodos en cada cluster:

***Cluster 1***
Cantidad: 47
Nodos: [  2   4   5  10  11  13  14  16  18  23  25  27  28  29  30  31  35  36
  39  40  42  50  54  56  57  60  61  64  68  69  73  75  81  82  83  84
  87  88  92  93  94  96  97  98  99 100 101]


***Cluster 2***
Cantidad: 33
Nodos: [  3   7   9  15  19  20  21  22  33  41  45  46  47  51  52  55  58  59
  63  65  66  71  72  74  76  77  79  80  90  91  95 102 104]


***Cluster 3***
Cantidad: 25
Nodos: [  1   6   8  12  17  24  26  32  34  37  38  43  44  48  49  53  62  67
  70  78  85  86  89 103 105]

In [19]:
mini_tcps = []
for i in clusters:
    i = list(clusters[i]) + [0]
    mini_tcps.append(result_array[i,:][:,i])

NameError: name 'tiempos' is not defined